.invest_parent_div {
  margin-top: 200px;
  margin-bottom: 100px;
}

.invest_form {
  width: 100%;
  max-width: 700px;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.form_title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 600;
}

.invest_form h2 {
  margin: 30px 0 15px;
  font-size: 20px;
  color: #333;
}

.invest_form input,
.invest_form select,
.invest_form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.invest_form textarea {
  min-height: 90px;
  resize: vertical;
}

.invest_form label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
  color: #555;
}

.consent {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin: 20px 0;
  font-size: 14px;
}
.consent span {
  /* color: red; */
  width: 1000%;
  /* background-color: red; */
  text-align: left;
}
.consent input {
  margin-top: 4px;
}

.invest_form button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.invest_form button:hover {
  background: #333;
}
