.navbar-main-parent-div {
  border: 1px solid #edf1f4;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar-parent-dvi {
  width: 50%;
  margin: auto;
}
.mainLogo-img {
  width: 55px;
  height: 55px;
}
@media screen and (max-width: 550px) {
  .navbar-parent-dvi {
    width: 100%;
  }
}
