.biggerInSize-parent-div {
  background-color: aquamarine;
  margin-top: 50px;
}
.biggerINSize-text-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  max-width: 100%;
  padding: 50px;
  margin: auto;
}
.biggerInSize-p-text-div {
  display: flex;
  align-items: end;
  gap: 20px;
  margin-left: 100px;
  text-align: left;
  margin-top: 50px;
  max-width: 100%;
}

.qr-code-img {
  box-shadow: 10px 1px 10px rgb(0, 0, 0);
  width: 200px;
}
.googleAndApple-btn-div {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.apple-btn {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  gap: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
  color: white;
}

.apple-btn i {
  font-size: 30px;
}
.downloadOnThe {
  font-size: 10px;
}
.appleStore-btn-text-span {
  color: white;
  display: block;
  font-size: 14px;
}

.google-btn {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  gap: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
  color: white;
}
.google-btn i {
  font-size: 40px;
}
.biggerInSize-heading-text-div {
  text-align: right;
  margin-top: 50px;
}
.biggerInSize-heading-text-div h1 {
  font-size: 35px;
  font-weight: 500;
}

.biggerInSize-p-text-div p {
  font-size: 17px;
  font-weight: 500;
  color: rgb(80, 80, 80);
}

.biggerInSiz-background-div {
  /* background: rgba(0, 0, 0, 0.904)
    url(https://img.etimg.com/thumb/msid-96559100,width-650,height-488,imgsize-92902,,resizemode-75/the-rimaac-nevera-is-now-the-fastest-electric-car-in-the-world-image-rimac.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  margin-bottom: 100px;

  padding: 30px;
}
.biggerInSiz-cart-div {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 75%;
  margin: auto;
}
.biggerInSiz-single-cart {
  background-color: #333533;
  padding: 30px;
  color: white;
}
.text-logo-flex-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 20px;
}
.car-icon {
  font-size: 50px;
  color: rgba(0, 0, 26, 0.705);
}
.basic-header {
  font-size: 20px;
  font-weight: 500;
}
.biggerInSiz-p {
  color: rgb(155, 155, 155);
  margin-bottom: 20px;
}
.price-flex-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: auto;
}
.price-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}
.price {
  font-size: 20px;
  font-weight: 700;
}
hr {
  width: 85%;
  margin: auto;
}
.order-button-one {
  background-color: rgba(0, 0, 26, 0.705);
  padding: 20px;
}
.order-text {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
  font-size: 18px;
  font-weight: 500;
}

/*  */

.second-car-logo {
  font-size: 50px;
  color: #333533af;
}
.order-button-two {
  padding: 20px;
  background-color: #333533af;
}
/*  */
.last-cart-parent-div {
  text-align: left;
  margin-left: 50px;
}
.last-cart-header {
  font-size: 30px;
  color: white;
  font-weight: 800;
}
.last-cart-p-one {
  margin-top: 25px;
  color: white;
}
.last-cart-p-two {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}
.media-parent-div {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 35px;
  color: rgb(0, 117, 146);
}

/* Responsiveness start */
@media screen and (max-width: 1405px) {
  .biggerInSize-heading-text-div h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 1350px) {
  .biggerInSize-heading-text-div {
    text-align: center;
  }
  .biggerINSize-text-div {
    grid-template-columns: 1fr;
  }
  .biggerInSize-p-text-div {
    justify-content: center;
  }
  .qr-code-img {
    width: 300px;
  }
}
@media screen and (max-width: 950px) {
  .biggerInSize-heading-text-div {
    text-align: left;
    margin-bottom: 20px;
  }
  .biggerINSize-text-div {
    grid-template-columns: 1fr;
  }
  .biggerInSize-p-text-div {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin: auto;
  }
}
@media screen and (max-width: 450px) {
  .googleAndApple-btn-div {
    display: grid;
    grid-template-columns: 1fr;
  }
  .apple-btn {
    width: 100%;
  }
  .google-btn {
    width: 100%;
  }
}
