.biggerInSize-parent-div {
  background-color: aquamarine;
  margin-top: 50px;
}
.biggerINSize-text-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  max-width: 100%;
  padding: 30px;
  margin: auto;
}
.biggerInSize-p-text-div {
  display: flex;
  align-items: center;
  gap: 20px;

  text-align: left;

  max-width: 100%;
}

.qr-code-img {
  box-shadow: 10px 1px 10px rgb(0, 0, 0);
  width: 150px;
  margin-top: 10px;
  border-radius: 5px;
}
.googleAndApple-btn-div {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.biggerInSize-heading-text-div {
}
.biggerInSize-heading-text-div h1 {
  font-size: 33px;
  font-weight: 500;
}

.biggerInSize-p-text-div p {
  font-size: 17px;
  font-weight: 500;
  color: rgb(80, 80, 80);
}

.biggerInSiz-cart-div {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 75%;
  margin: auto;
}
.biggerInSiz-single-cart {
  background-color: #333533;
  padding: 30px;
  color: white;
}
.text-logo-flex-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 20px;
}
.car-icon {
  font-size: 50px;
  color: rgba(0, 0, 26, 0.705);
}
.basic-header {
  font-size: 20px;
  font-weight: 500;
}
.biggerInSiz-p {
  color: rgb(155, 155, 155);
  margin-bottom: 20px;
}
.price-flex-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: auto;
}
.price-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}
.price {
  font-size: 20px;
  font-weight: 700;
}
hr {
  width: 85%;
  margin: auto;
}
.order-button-one {
  background-color: rgba(0, 0, 26, 0.705);
  padding: 20px;
}
.order-text {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
  font-size: 18px;
  font-weight: 500;
}

/*  */

.second-car-logo {
  font-size: 50px;
  color: #333533af;
}
.order-button-two {
  padding: 20px;
  background-color: #333533af;
}
/*  */
.last-cart-parent-div {
  text-align: left;
  margin-left: 50px;
}
.last-cart-header {
  font-size: 30px;
  color: white;
  font-weight: 800;
}
.last-cart-p-one {
  margin-top: 25px;
  color: white;
}
.last-cart-p-two {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}
.media-parent-div {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 35px;
  color: rgb(0, 117, 146);
}

/* Responsiveness start */
@media screen and (max-width: 1405px) {
  .biggerInSize-heading-text-div h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 1350px) {
  .biggerInSize-heading-text-div {
    text-align: center;
  }
  .biggerINSize-text-div {
    grid-template-columns: 1fr;
  }
  .biggerInSize-p-text-div {
    justify-content: center;
  }
  .qr-code-img {
    width: 70px;
  }
}
@media screen and (max-width: 950px) {
  .biggerInSize-heading-text-div {
    text-align: left;
    margin-bottom: 20px;
  }

  .biggerInSize-p-text-div {
    align-items: center;
    margin: auto;
  }
  .biggerInSize-heading-text-div h1 {
    text-align: center;
  }
}
@media screen and (max-width: 650px) {
  .biggerInSize-p-text-div {
    display: grid;
    grid-template-columns: 1fr;
  }
  .googleAndApple-btn-div {
    display: grid;
    grid-template-columns: 1fr;
  }
  .qr-code-img {
    margin: auto;
  }
}
@media screen and (max-width: 450px) {
  .googleAndApple-btn-div {
    display: grid;
    grid-template-columns: 1fr;
  }
}
