.imgCartOne-p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
.imgCartOne {
  margin: auto;
}
.cartWithImg-parent-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 80%;
  margin: auto;
}
.cartWithImg {
  max-width: 90%;
  margin: auto;
  margin-top: 40px;
}

/* Responsiveness start */

@media screen and (max-width: 950px) {
  .cartWithImg-parent-div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .cartWithImg-parent-div {
    grid-template-columns: repeat(1, 1fr);
  }
}
