.qr-code-parent-div {
}
.qr-code-download-header {
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 500;
}
.qr-code-img-div {
  background-color: rgb(230, 230, 230);
  padding: 40px;
}
.qr-code-img {
  margin: auto;
  width: 30%;
  box-shadow: 10px 1px 10px rgb(0, 0, 0);
}

@media screen and (max-width: 1350px) {
  .qr-code-download-header {
    font-size: 30px;
  }
}
@media screen and (max-width: 1224px) {
  .qr-code-download-header {
    font-size: 25px;
  }
  .qr-code-img {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .qr-code-download-header {
    font-size: 25px;
  }
  .qr-code-img {
    width: 40%;
  }
}
