.PhotoGallery_parent_div {
  margin-top: 70px;
  margin-bottom: 70px;
}
.keep-heading {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 700;
}
.photoGallery_flex_div {
  display: flex;
  width: 75%;
  gap: 50px;
  margin: auto;
  margin-top: 50px;
}
.dummyPhoto {
  width: 40%;
}
.photo-gallery {
  gap: 30px;
  width: 100%;
  margin: auto;
  /* border: 3px solid blue; */
  border: 3px solid #c30017;
  padding: 30px;
  height: 345px;
}
.photo-gallery-p {
  font-size: 16px;
}

.photo-cart-heading {
  font-size: 30px;
  font-weight: 700;
}
.photo-cart-p {
  color: black;
  margin-top: 10px;
  margin-bottom: 20px;
}
.read-more {
  color: rgb(2, 253, 169);
  font-weight: 700;
}

/*  */
@media screen and (max-width: 1600px) {
  .photo-logo {
    margin-left: 700px;
  }
}
@media screen and (max-width: 1400px) {
  .photo-logo {
    margin-left: 600px;
  }
}
@media screen and (max-width: 1280px) {
  .photo-gallery {
    width: 90%;
  }

  .photo-logo {
    margin-left: 500px;
  }
}
@media screen and (max-width: 1250px) {
  .photo-logo {
    margin-left: 500px;
  }
}
@media screen and (max-width: 1050px) {
  .photo-gallery {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
  }
  .photo-gallery img {
    width: 100%;
  }
  .photo-logo {
    margin-left: 400px;
  }
}
@media screen and (max-width: 850px) {
  .photo-logo {
    margin-left: 300px;
  }
}
@media screen and (max-width: 750px) {
  .photo-cart-grid-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 650px) {
  .photo-logo {
    margin-left: 230px;
  }
}
@media screen and (max-width: 580px) {
  .photo-logo {
    margin-left: 180px;
  }
}
@media screen and (max-width: 500px) {
  .photo-logo {
    margin-left: 150px;
  }
}

@media screen and (max-width: 450px) {
  .photo-logo {
    margin-left: 170px;
    margin-top: -16px;
    width: 100px;
  }
}
@media screen and (max-width: 412px) {
  .photo-gallery {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .photo-logo {
    margin-left: 140px;
  }
}
@media screen and (max-width: 350px) {
  .photo-logo {
    margin-left: 120px;
  }
}
@media screen and (max-width: 300px) {
  .photo-logo {
    margin-left: 90px;
  }
}

@media screen and (max-width: 250px) {
  .photo-logo {
    margin-left: 75px;
  }
}
