.ourAchievment-parent-div {
  background: rgba(0, 0, 0, 0.938)
    url(https://as2.ftcdn.net/v2/jpg/02/16/64/59/1000_F_216645902_N6uzAuvXTt8bglqwMYFIvqw5ajEumro0.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  padding: 35px;
  color: white;
  max-width: 85%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 20px;
}

.ourAchievment-p {
  max-width: 80%;
  margin: auto;
  margin-top: 20px;
  font-size: 22px;
}
.ourAchievement-heading {
  font-size: 45px;
  font-weight: 700;
  color: rgb(184, 184, 184);
}
.ourAchievment-p-div {
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .ourAchievment-parent-div {
    max-width: 100%;
    border-radius: 0px;
  }
  .ourAchievment-p {
    max-width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .ourAchievment-parent-div {
    max-width: 100%;
    border-radius: 0px;
  }
  .ourAchievement-heading {
    font-size: 40px;
  }
  .ourAchievment-p {
    max-width: 100%;
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .ourAchievement-heading {
    font-size: 35px;
  }
  .ourAchievment-p {
    max-width: 100%;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .ourAchievement-heading {
    font-size: 25px;
  }
}
@media screen and (max-width: 360px) {
  .ourAchievment-logo-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    margin-bottom: 0;
  }
  .ourAchievment-number-k {
    font-size: 20px;
    margin-top: 10px;
  }
  .ourAchievment-cart-heading {
    font-size: 25px;
  }
}
