.rideComford-parent-div {
  margin-top: 100px;
}
.rideInComfort {
  font-size: 40px;
  color: rgb(1, 1, 77);
  margin-bottom: 15px;
}
.rideInComford-P {
  font-size: 22px;
  color: black;
}
.rodeComfort-p-first-text {
  font-size: 16px;
  color: gray;
  margin-top: 20px;
}
.rideInComfort-grid-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 75%;
  margin: auto;
  margin-top: 40px;
}

@media screen and (max-width: 850px) {
  .rideInComfort-grid-div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 70px;
    width: 100%;
  }
  .cart-img {
    width: 70%;
    margin: auto;
  }
}
@media screen and (max-width: 540px) {
  .rideInComfort {
    font-size: 30px;
  }
  .cart-img {
    width: 100%;
  }
}
