.footer-parent-div {
  background: rgba(0, 0, 0, 0.884)
    url(https://cdn.motor1.com/images/mgl/g440ng/s3/rimac-nevera.jpg);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px;
  color: white;
}
.footer-grid-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 85%;
  margin: auto;
}
.footer-single-cart-div {
  text-align: left;
}
.footer-first-logo {
  width: 200px;
  height: 80px;
  margin-bottom: 20px;
}
.footer-logo-parent-grid-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 30%;
  gap: 20px;
  text-align: center;
  margin-top: 20px;
}
.footer-child-logo-div {
  background-color: rgb(1, 253, 198);
  padding: 2px;
  width: 50px;
}
