.footer-parent-div {
  background: rgba(0, 0, 0, 0.938)
    url(https://as2.ftcdn.net/v2/jpg/02/16/64/59/1000_F_216645902_N6uzAuvXTt8bglqwMYFIvqw5ajEumro0.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  margin-top: 100px;
  padding: 20px;
  color: white;
}
.ourAchievement-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70%;
  margin: auto;
  margin-top: 50px;
  text-align: left;
}

.ourAchievement-heading {
  font-size: 50px;
  font-weight: 700;
  color: rgb(184, 184, 184);
}
.ourAchievement-p {
  color: gray;
}
.footer-grid-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: auto;
  margin-top: 100px;
}
.border-div {
  border-right: 1px solid gray;
  text-align: left;
  margin-left: 30px;
}
.footer-logo-div {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}
.logo {
  background-color: rgb(2, 112, 202);
  color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}
.i {
  position: absolute;
  margin-left: 15px;
  margin-top: 17px;
  font-size: 20px;
}
.footer-number-k {
  font-size: 30px;
  font-weight: 700;
  color: rgb(219, 255, 252);
}
.footer-cart-heading {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
.footer-cart-p {
  color: rgb(214, 214, 214);
  width: 95%;
}
.footer-cart-div {
  text-align: left;
  margin-left: 30px;
}

@media screen and (max-width: 1500px) {
  .ourAchievement-div {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1024px) {
  .footer-grid-div {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .ourAchievement-div {
    width: 100%;
  }
  .border-div {
    border: none;
  }
}
