.home-parent-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #eee;
  padding-top: 40px;
  /* gap: 100px; */
  padding-bottom: 100px;
  max-width: 100%;
}
.carousel_div {
  width: 60%;
}
.carousel_child_div {
}
.home-banner-photo {
  max-width: 60%;
  margin: auto;
}
.home-child-dvi {
  text-align: left;
  margin-left: 260px;
  margin-top: 100px;
}
.home-child-img-div {
  max-width: 60%;
}
.TripShipTask-heading {
  font-size: 25px;

  margin-bottom: 10px;
}
.TripShipTask-p {
  font-size: 22px;
}
.andMakeMoney-p {
  font-size: 25px;
  margin-top: 10px;
}

.earn {
  background-color: #e83330;
  padding: 10px;
  position: absolute;
  margin-top: 20px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
}
.download {
  border: 1px solid black;
  position: absolute;
  padding: 10px;
  margin-top: 50px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  background-color: aliceblue;
}

@media screen and (max-width: 1500px) {
  .home-child-dvi {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1450px) {
  .home-child-dvi {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1150px) {
  .home-parent-div {
  }
  .home-child-dvi {
  }
  .TripShipTask-heading {
    font-size: 22px;
  }
  .TripShipTask-p {
    font-size: 22px;
  }
  .andMakeMoney-p {
    font-size: 22px;
  }
  .home-banner-photo {
    max-width: 60%;
  }
}
@media screen and (max-width: 1024px) {
  .home-child-dvi {
    margin-top: 50px;
  }
}

@media screen and (max-width: 983px) {
  .home-parent-div {
  }
  .home-child-dvi {
  }
  .TripShipTask-heading {
    font-size: 20px;
  }
  .TripShipTask-p {
    font-size: 20px;
  }
  .andMakeMoney-p {
    font-size: 20px;
  }
  .home-banner-photo {
    max-width: 60%;
  }
}
@media screen and (max-width: 850px) {
  .home-parent-div {
    display: grid;
    grid-template-columns: 1fr;
  }
  .child_parent_div {
    margin: auto;
  }
  .home-child-dvi {
    margin-bottom: 50px;
  }
  .TripShipTask-heading {
    font-size: 20px;
  }
  .TripShipTask-p {
    font-size: 20px;
  }
  .andMakeMoney-p {
    font-size: 20px;
  }
  .carousel_div {
    margin: auto;
  }
  .home-banner-photo {
    max-width: 50%;
  }
}
@media screen and (max-width: 820px) {
  .home-child-dvi {
    margin-left: 20px;
    margin-top: 100px;
  }
}
@media screen and (max-width: 850px) {
  .TripShipTask-heading {
    font-size: 17px;
  }
  .TripShipTask-p {
    font-size: 17px;
  }
  .andMakeMoney-p {
    font-size: 17px;
  }
  .home-banner-photo {
    max-width: 40%;
  }
}
@media screen and (max-width: 900px) {
  .home-child-dvi {
    margin-left: 20px;
  }
}
@media screen and (max-width: 750px) {
  .home-child-dvi {
    margin-top: 100px;
  }
  .earn {
    width: 70%;
  }
  .download {
    width: 70%;
  }
}
@media screen and (max-width: 640px) {
  .home-child-dvi {
    margin-top: 30px;
  }
  .TripShipTask-heading {
    font-size: 22px;
  }
  .TripShipTask-p {
    font-size: 14px;
  }
  .earn {
    width: 40%;
    padding: 5px;
    font-size: 12px;
  }
  .download {
    width: 40%;
    padding: 5px;
    font-size: 12px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 600px) {
  .home-parent-div {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .TripShipTask-heading {
    font-size: 25px;
  }
  .TripShipTask-p {
    font-size: 25px;
  }
  .andMakeMoney-p {
    font-size: 25px;
  }
  .home-banner-photo {
    max-width: 50%;
  }
}
@media screen and (max-width: 540px) {
  .home-child-dvi {
    margin-top: 100px;
  }
  .TripShipTask-heading {
    font-size: 22px;
  }
  .TripShipTask-p {
    font-size: 18px;
  }
  .earn {
    width: 50%;
    padding: 10px;
    font-size: 14px;
  }
  .download {
    width: 50%;
    padding: 10px;
    font-size: 14px;
    margin-top: 45px;
  }
  .andMakeMoney-p {
    font-size: 22px;
  }
}
@media screen and (max-width: 414px) {
  .home-child-dvi {
    margin-top: 50px;
  }
  .TripShipTask-heading {
    font-size: 22px;
  }
  .TripShipTask-p {
    font-size: 18px;
  }
  .earn {
    width: 50%;
    padding: 10px;
    font-size: 16px;
  }
  .download {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 412px) {
  .home-child-dvi {
    margin-top: 50px;
  }
  .TripShipTask-heading {
    font-size: 30px;
  }
  .TripShipTask-p {
    font-size: 18px;
  }
  .earn {
    width: 50%;
    padding: 10px;
    font-size: 16px;
  }
  .download {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 384px) {
  .TripShipTask-heading {
    font-size: 22px;
  }
}
@media screen and (max-width: 360px) {
  .TripShipTask-heading {
    font-size: 22px;
  }
  .earn {
    width: 50%;
  }
  .download {
    width: 50%;
  }
}
