.trustedRideService-grid-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-color: rgb(245, 255, 252);
}
.first-car-img {
  display: none;
}
.trustedRideService-text-parent-div {
  width: 75%;
  margin: auto;
  text-align: left;
}
.trustedRideService-heading {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
}
.trustedRideService-first-p {
  margin-bottom: 20px;
  font-weight: 500;
  color: gray;
}
.trustedRideService-icon-flex-div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  color: gray;
  font-weight: 500;
}
.trustedRideService-icon-parent-div {
  margin-bottom: 40px;
}
.trustedRideService-read-more {
  background-color: rgb(173, 173, 173);
  padding: 15px;
  color: black;
  font-weight: 500;
  border-radius: 20px;
}
.trustedRideService-read-more button {
  width: 200px;
}

/* Responsiveness start */
@media screen and (max-width: 1250px) {
  .first-car-img {
    display: block;
    width: 600px;
    margin: auto;

    margin-top: -150px;
  }
  .trustedRideService-text-parent-div {
    margin-top: 200;
  }
  .trustedRideService-grid-div {
    display: grid;
    grid-template-columns: 1fr;
  }
  .second-car-img {
    display: none;
  }
  .trustedRideService-read-more button {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 500px) {
  .first-car-img {
    display: block;
    width: 600px;
    margin: auto;

    margin-top: -50px;
  }
  .trustedRideService-text-parent-div {
    margin-top: 200;
  }
  .trustedRideService-grid-div {
    display: grid;
    grid-template-columns: 1fr;
  }
  .second-car-img {
    display: none;
  }
  .trustedRideService-read-more button {
    margin-bottom: 100px;
  }
}
